@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
div#at {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
}

div#top {
  height: 120px;
  width: 300px;
  background: url("./images/bg-pattern-card.svg") no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}
div#bot {
  background-color: hsl(0, 0%, 100%);
  height: 220px;
  width: 300px;
  padding-top: 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
#img {
    width: 100px;
    height: 100px;
    background-image: url("./images/image-victor.jpg");
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin: 8px 0 0 100px;
    position: relative;
    bottom: -50%;
}
#body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: hsl(185, 75%, 39%);
}

#body::before {
    background-image: url('./images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    content: '';
    position: absolute;
    top: -90%;
    left:-25%;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg) scaleY(-100%);
/* opacity: 0.2; */
}
#body::after {
    background: url('./images/bg-pattern-bottom.svg');
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 50%;
}
.bold {
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    margin-bottom: 25px;
}
.thin {
    font-weight: 400;
    font-size: 12px;
    color: hsl(227, 10%, 46%);
    padding-bottom: 1em;
}
#par {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 25px 30px 25px 30px;
    
}
.bod {
    border-bottom: 1px solid hsl(227, 10%, 46%);
}
#k {
    padding-bottom: 1em;
}
 /* .two {
    display: flex;
    flex-direction: row;
} */
@media screen and (max-width: 375px){
div#at {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
}